In [26]:
import pandas as pd 
import numpy as np

In [27]:
model_1_full_data = pd.read_csv("model_1_data.csv") 
model_1_full_data

,ISO3,Country / Territory,Year,Event Name,Date of event (start),Disaster Internal Displacements,Hazard Category,Hazard Type,Hazard Sub Type
0,ETH,Ethiopia,2008,FF-2008-000227-ETH,2008-11-16T00:00:00Z,52000,Weather related,Flood,Flood
1,ETH,Ethiopia,2008,NaN,2008-05-30T00:00:00Z,810,Weather related,Flood,Flood
2,ETH,Ethiopia,2008,NaN,2008-08-20T00:00:00Z,20000,Weather related,Flood,Flood
3,ETH,Ethiopia,2010,NaN,2010-01-01T00:00:00Z,5000,Weather related,Flood,Flood
4,ETH,Ethiopia,2010,2010-000217,2010-01-01T00:00:00Z,5000,Weather related,Flood,Flood
...,...,...,...,...,...,...,...,...,...
381,ZMB,Zambia,2020,Zambia: Floods - Luapula province - 12/04/2020,2020-04-12T00:00:00Z,2600,Weather related,Flood,Flood
382,ZMB,Zambia,2020,Zambia: Flash floods - Eastern Province (Lumez...,2020-02-01T00:00:00Z,560,Weather related,Flood,Flash flood
383,ZMB,Zambia,2020,Zambia: Floods - Luapula province (Samfya) - 0...,2020-03-01T00:00:00Z,1500,Weather related,Flood,Flood
384,ZMB,Zambia,2020,Zambia: Floods - Eastern province (Mambwe dist...,2020-01-24T00:00:00Z,500,Weather related,Flood,Flood
385,ZMB,Zambia,2021,Zambia: Floods - Central (Mumbwa / Shakumbila;...,2021-02-10T00:00:00Z,1300,Weather related,Flood,Flood

In [28]:
grp = model_1_full_data.groupby(by=["ISO3", "Year"])["Disaster Internal Displacements"].apply(lambda x: sum(x)).reset_index()
grp = grp.rename(columns={"ISO3":"Country Code"})
grp 

grp.to_csv("condensed_model1.csv")

In [29]:
data_to_add = pd.read_csv("model1_wb_data.csv")
data_rel_rows = data_to_add[:56]
# num_of_attrs = data_rel_rows.groupby("Country Code").transform(lambda x:x) 
num_of_attrs = 8



flood_data = pd.read_csv("condensed_model1.csv")
# data_rel_rows

In [30]:
# flood_data['Year'] = pd.to_datetime(flood_data['Date of event (start)']).dt.year
# flood_data["Country Code"] = flood_data["ISO3"]

for i in range(0, data_rel_rows.shape[0], num_of_attrs):
    _sub = data_rel_rows[i:i+num_of_attrs] 
    # print(_sub.shape[0])
    name = data_rel_rows["Series Name"][i]
    
    # melt 
    _sub = pd.melt(_sub, id_vars=['Series Name', 'Series Code', 'Country Name', 'Country Code'], var_name='Year', value_name='Value')

    # extract the year from the variable column
    _sub['Year'] = _sub['Year'].str.extract('(\d+)', expand=False).astype(int)

    # display the resulting dataframe
    _portion = _sub[["Year", "Country Code", "Value"]]
    

    # merge the two dataframes on "Country Code" and "Year"
    merged_df = pd.merge(flood_data, _portion[['Country Code', 'Year', 'Value']], on=['Country Code', 'Year'], how='left')

    # rename the "Value" column to "Displaced Population"
    merged_df.rename(columns={'Value': name}, inplace=True)
    flood_data = merged_df 
    
flood_data

,Unnamed: 0,Country Code,Year,Disaster Internal Displacements,"Access to electricity, rural (% of rural population)","Access to electricity, urban (% of urban population)",Rural population (% of total population),Urban population (% of total population),Access to electricity (% of population),Level of water stress: freshwater withdrawal as a proportion of available freshwater resources,People using at least basic drinking water services (% of population)
0,0,ETH,2008,72810,9.70067691802979,84.0926361083984,83.49,16.51,21.9827899932861,26.2826800111,30.89480764
1,1,ETH,2010,10000,12.8002872467041,85.6084747314453,82.681,17.319,25.4099369049072,27.775118154,34.16251912
2,2,ETH,2012,20000,15.980186,87.116386,81.84,18.16,28.89852,29.269141,37.377026
3,3,ETH,2013,60300,17.626913,87.854424,81.425,18.575,30.671673,30.016152,38.954916
4,4,ETH,2014,46880,12.006076,91.982521,81.002,18.998,27.200001,30.763164,40.519477
...,...,...,...,...,...,...,...,...,...,...,...
88,88,ZMB,2017,2454,13.9976968765259,75.1999969482422,57.024,42.976,40.2999992370605,2.8354978355,62.98903412
89,89,ZMB,2018,1,12.4664363861084,76.4618759155273,56.479,43.521,40.3178901672363,2.8354978355,63.80411115
90,90,ZMB,2019,1353,14.2673807144165,79.4621047973633,55.928,44.072,43,2.8354978355,64.61192382
91,91,ZMB,2020,5970,14.0108251571655,82.3826217651367,55.371,44.629,44.5244750976563,..,65.41238357
92,92,ZMB,2021,1300,..,..,54.808,45.192,..,..,..

In [31]:
flood_data.to_csv("model1_cleaned_data.csv")